#title {
	background-color: #333333;
	color: #F5F5F5;
}

#news {
	color: #666666;
	background-color: #F5F5F5;
}

#intro {
	color: #666666;
}

#copyright {
	background-color: #F5F5F5;
	color: #999999;
}

.resalt {
	color: #C00000;
}