#contingut {
	padding-left: 100px;
	padding-right: 100px;
	

}

#intro{
	padding-bottom: 200px;
}

#title {
	padding: 15px;
	padding-left: 108px;
	width: 100%;
	margin-top: -8px;
	margin-left: -8px;
	}

h1{
	padding: 10px 5px 10px 5px;
}

#news {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 10px;
	padding-bottom: 5px;
	
}

#text {
	
	padding: 5px;
}

#copyright {
	text-align: left;
	padding-top:15px; 
	padding-bottom: 100%;
	
}

#imatge {
	padding-left: 100px;
	
}

.tablecenter {
	width: 100%;
}

.tablecenter td {
	width: 45%;
}