@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	font-size: 16px;
	font-family: 'OpenSansRegular', Helvetica, Arial, sans-serif;
	overflow: hidden;
}


.titol {
	font-size: 24px;
	font-family: 'SemiBold', Helvetica, Arial, sans-serif;
	font-weight:600;
}

.resalt{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight:600;
}

.copycenter {
	font-size: 11px;
	font-family: 'SemiBold', Helvetica, Arial, sans-serif;
}
